<% include('header.ejs') %>
    <h1><%= appName %></h1>
    <p>Ejemplo de inyección de código <%= nombre %></p>
    
    <h2>Condicionales</h2>
    <p>El segundo actual es: <%= segundoActual %></p>
    <% if (esPar) { %>
        <p>El segundo actual es par.</p>
    <% } else { %>
        <p>El segundo actual es impar.</p>
    <% } %>

    <h2>Bucles</h2>
    <% users.forEach(agent => { %>
        <p><%= agent.name %> tiene <%= agent.age %> años.</p>
    <% }) %>

<% include('footer.ejs') %>